.errorCard {
    max-width: 50%;
    background: white;
    margin: auto;
    margin-top: 40px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
}
