header {
    padding: 20px 50px;
    font-size: 1.5em;
    color: chocolate;
    border-bottom: 1px solid chocolate;
    display: flex;
    justify-content: space-between;

    .headerNav {
        display: flex;
        gap: 8px;
    }
}
header img {
    width: 70px;
    color: red;
    font-size: 2.5em;
    margin-right: -40px;

}

header a h1 {
    font-size: 1em;
    color: chocolate;
}

@media (max-width: 600px) {
    header h1 {
        width: min-content;
    }
    .headerNav{
        display: flex;
        flex-direction: column;
    }
  }