.quizForm {
    background: white;
    max-width: 80%;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
    transition: .3s;

    .hidden {
        opacity: 0;
    }
    .visible {
        animation: fadeIn .4s ease-in-out;
    }

    h1 {
        color: chocolate;   
    }

    input {
        height: 2em;
        border-radius: 4px;
        outline: none;
        padding: 5px 10px;
        border: 1px solid chocolate;
        width: 100%;
    }

    label {
        position: relative;
        width: 80%;
        margin: auto;
        
        svg {
            position: absolute;
            color: #555;
            right: 3px;
            bottom: 3px;
        }
    }

    .buttonsContainer {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        button {
            width: 45%;
            height: min-content;
        }
    }

}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px); // Optional: You can add other transformations for effect
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }